<% layout('boilerplate') %>
<% block('title', 'Events'); %>

<div class="starter-template" ng-controller="eventsCtrl"> 
    <h2>Events</h2>
    <hr>

    <div class="row" style="margin-bottom:30px;">
        <select class="form-control" ng-model="sortOrder">
            <option value="title">Title</option>
            <option value="-votes">Votes</option>       
        </select>        
    </div>
    
    <div class="row">
        <div class="panel panel-default panel-primary event-width" ng-repeat="event in events | orderBy:eventSortOrder">
            <div class="panel-heading">{{ event.title | lowercase }}</div>
            <div class="panel-body">
                {{ event.body }}
            </div>
            <div class="panel-footer">
                <span class="glyphicon glyphicon-minus votes-cursor" ng-click="downVote(event)"></span>
                    votes: <span class="badge">{{ event.votes }}</span>
                <span class="glyphicon glyphicon-plus votes-cursor" ng-click="upVote(event)"></span>
            </div>
        </div> 
    </div>
    
    
</div>